
{% extends "base.html" %}

{% block content %}
    <center><h1>Rules and Functions for Expression Input</h1></center>
    <p>
        The quick way of conveying the expression input rules is by saying that the expression must follow the
        compilation rules of python, but with the ^ character instead of ** for exponents. For mathematical expressions
        this is basically PEMDAS (parens, exponents, multiplication/division, addition/subtraction). Also, you may use
        only single character lower or upper case variables in your expression. One thing to note
        is that operators like ^ will consider the next character to be their only operand unless you use parens.
        List of operators: {{operators}}.
    </p>
    <p>
        You may also use functions from a specified list that is outlined here. Note that all angles are measured
        in radians.
        <ul>
        {% for func in functions %}
            <li>{{func[0]}}        : {{func[1]}}</li>
        {% endfor %}
        </ul>

    </p>


{% endblock %}